.texto-error {
    color: red;
    font-size: 0.9em;
}

.input-error {
    border: 2px solid red;
}

.input-ok {
    border: 1px solid green;
}

.mensaje-error {
    background-color: rgb(239, 125, 125);
    border: 1px solid red;
    padding: 8px;
    margin-top: 10px;
}

.mensaje-ok {
    background-color: rgb(163, 248, 163);
    border: 1px solid green;
    padding: 8px;
    margin-top: 10px;
}